@charset "utf-8";

.annotation {
  cursor: move;
  border: 2px solid rgb(0, 255, 17);
  background: rgba(0, 0, 0, 0.1);
}
.selected{
  border: 2px solid rgb(255, 255, 0);
  background: rgba(255, 255, 255, 0.1);
}
.g-image-op {
  visibility: hidden;
}
.selected {
  .g-image-op {
    visibility: visible;
    overflow: auto;
    bottom: 0px;
    cursor: auto;
    position: absolute;
    width: 200px;
  }
  .g-image-op-content{
    font-size: 18px;
  }
  .g-image-op-del {
    cursor: pointer;
    color: #ff3c43;
  }
}
.hidden{
  display: none;
}
.resize-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgb(223, 219, 219);
  box-sizing: border-box;

  &-n {
    position: absolute;
    cursor: n-resize;
    top: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &-s {
    position: absolute;
    cursor: s-resize;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &-w {
    position: absolute;
    cursor: w-resize;
    left: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-e {
    position: absolute;
    cursor: e-resize;
    right: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-nw {
    position: absolute;
    cursor: nw-resize;
    margin-top: -4px;
    margin-left: -4px;
  }

  &-ne {
    position: absolute;
    cursor: ne-resize;
    right: 0;
    margin-top: -4px;
    margin-right: -4px;
  }

  &-sw {
    position: absolute;
    cursor: sw-resize;
    bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  &-se {
    cursor: se-resize;
    right: -4px;
    bottom: 0;
    margin-bottom: -4px;
  }

}

