@charset "utf-8";

.annotation {
  cursor: move;
  border: 1px solid rgb(0, 255, 81);
  background: rgba(0, 0, 0, 0.1);
}
.annotate .selected {
  border: 1px solid rgb(255, 0, 255);
  background: rgba(255, 255, 255, 0.1);
}
.selected .g-image-op-content {
  background: rgba(255, 0, 255, 0.7);
}
.g-image-op {
  overflow: auto;
  top: 0px;
  cursor: auto;
  position: absolute;
  width: 200px;
}
.g-image-op-content{
  font-size: 12px;
  background: rgba(0, 255, 81, 0.7);
  padding-left: 2px;
  width: 24px;
}
.g-image-op-del {
  font-size: 14px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.hidden{
  display: none;
}
.resize-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  box-sizing: border-box;

  &-n {
    position: absolute;
    cursor: n-resize;
    top: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &-s {
    position: absolute;
    cursor: s-resize;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
  }

  &-w {
    position: absolute;
    cursor: w-resize;
    left: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-e {
    position: absolute;
    cursor: e-resize;
    right: -4px;
    top: 50%;
    margin-top: -4px;
  }

  &-nw {
    position: absolute;
    cursor: nw-resize;
    margin-top: -4px;
    margin-left: -4px;
  }

  &-ne {
    position: absolute;
    cursor: ne-resize;
    right: 0;
    margin-top: -4px;
    margin-right: -4px;
  }

  &-sw {
    position: absolute;
    cursor: sw-resize;
    bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;
  }

  &-se {
    cursor: se-resize;
    right: -4px;
    bottom: 0;
    margin-bottom: -4px;
  }

}

